
<div class="container">
  <div class="row"></div>
  <div class="row my-3">
    <div class="row g-5">
      <div class="col-md-7 col-lg-8">
        <h4 *ngIf="service.id > 0" class="mb-3">Редактированте Услуги</h4>
        <h4 *ngIf="service.id <= 0" class="mb-3">Создание Услуги</h4>
        <form class="needs-validation" novalidate="">
          <div class="row g-3">

            <div class="col-12">
              <label for="name" class="form-label">Название</label>
              <input name="name"  [(ngModel)]="service.name" type="text" class="form-control" id="name" placeholder="Name"
                     required="">
              <div class="invalid-feedback">
                Please enter name.
              </div>
            </div>

            <div class="col-12">
              <label for="description" class="form-label">Описание</label>
              <input name="description" [(ngModel)]="service.description" type="text" class="form-control" id="description"
                     placeholder="1234 Main St" required="">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
            <div class="col-12">
              <label for="price" class="form-label">Цена</label>
              <input name="price" [(ngModel)]="service.price"  type="text" class="form-control" id="price"
                     placeholder="1$" required="">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
          </div>

          <div class="col-12">
            <label for="typeService" class="form-label">Тип Услуги</label>
            <select name="typeService" [(ngModel)]="service.typeService.id" class="form-select custom-select" id="typeService" required="">
              <option class="form-control" disabled >Тип услуги</option>
              <option *ngFor="let typeService of typeServices" class="form-control"
                      value="{{typeService.id}}">{{typeService.name}}</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>


          <div class="col-12">
            <label for="employee" class="form-label">Исполнитель</label>
            <select name="employee" [(ngModel)]="service.employee.id" class="form-select custom-select" id="employee" required="">
              <option class="form-control" disabled >Работник</option>
              <option *ngFor="let employee of employees" class="form-control"
                      value="{{employee.id}}">{{employee.fio}}</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>

          <hr class="my-4">

          <button (click)="save()" class="w-100 btn btn-primary btn-lg" type="submit">Save</button>
          <button *ngIf="service.id > 0" (click)="delete()" class="w-100 btn btn-danger btn-lg mt-3" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row"></div>
</div>
