<div class="container">
  <div class="row mt-4 justify-content-between">
    <h2 class="h2">
      Мои записи
    </h2>

  </div>
  <div class="row mt-5">

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название услуги</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let appointment of appointments; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{appointment.service.name}}
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
