<div class="container">
  <div class="content d-flex flex-column mt-4">
    <div class="my-auto mx-auto">
      <h1 class="h1 font-weight-light">Хороший слоган - половина успеха</h1>
    </div>
    <div class="controllers d-flex mt-2">
      <div class="d-flex flex-column mx-auto">
        <button onClick="window.location.href='/catalog-services'" class="btn btn-outline-primary mx-auto mt-3 w-100"> К каталогу услуг</button>
        <button *ngIf="isAdmin()" onClick="window.location.href='/admin/main'" class="btn btn-outline-primary mx-auto mt-3 w-100"> К админке</button>
        <button *ngIf="isClient()" onClick="window.location.href='/user/main'" class="btn btn-outline-primary mx-auto mt-3 w-100"> К панели управления</button>
      </div>
    </div>
  </div>
</div>
