<div class="container">
  <div class="row"></div>
  <div class="row my-3">
    <div class="row g-5">
      <div class="col-md-7 col-lg-8">

        <h4 *ngIf="employee.id > 0" class="mb-3">Редактирование работника</h4>
        <h4 *ngIf="employee.id <= 0" class="mb-3">Создание работника</h4>
        <form class="needs-validation" novalidate="">
          <div class="row g-3">

            <div class="col-12">
              <label for="address" class="form-label">ФИО</label>
              <input [(ngModel)]="employee.fio" name="name" type="text" class="form-control" id="name" placeholder="Name" required="">
              <div class="invalid-feedback">
                Please enter name.
              </div>
            </div>

            <div class="col-12">
              <label for="phone" class="form-label">Телефон</label>
              <input [(ngModel)]="employee.phone" name="phone" type="text" class="form-control" id="phone" placeholder="8800553535" required="">
            </div>
          </div>

          <hr class="my-4">

          <button (click)="save()" class="w-100 btn btn-primary btn-lg" type="submit">Сохранить</button>
          <button *ngIf="employee.id > 0" (click)="delete()" class="w-100 btn btn-danger btn-lg mt-3" type="submit">Удалить</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row"></div>
</div>
