<header class="p-1 mb-1 header-background border-bottom sticky-top">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#">Поликлиника</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/catalog-services">Услуги</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">О нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Обратная связь</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="sign-in">
      <button *ngIf="!isAuthorize()" onClick="window.location.href='/login'"  class="btn btn-primary">Войти</button>
      <button *ngIf="isAuthorize()"  (click)="logout()"  class="btn btn-primary">Выйти</button>
    </div>
  </nav>
  <!-- Navbar -->
  <!-- Jumbotron -->
</header>
