<div class="container d-flex flex-column justify-content-center">
  <div class="list-links mx-auto mt-2">
    <div class="list-item">
      <a href="/catalog-services" class="nav-link">Список услуг</a>
    </div>
    <div class="list-item">
      <a href="/history-appointment" class="nav-link">История записей</a>
    </div>
  </div>
</div>
