<div class="container">
  <div class="row mt-4 justify-content-between">
    <h2 class="h2">
      Каталог услуг
    </h2>
  </div>
  <div class="row mt-5">

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Описание</th>
        <th scope="col">Фио врача</th>
        <th scope="col">Тип Услуги</th>
        <th *ngIf="isUser()" scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let service of services; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{service.name}}
        </td>
        <td>{{ service.description}}</td>
        <td>{{ service.employee.fio}}</td>
        <td>{{ service.typeService.name}}</td>
        <td *ngIf="isUser()">
          <button (click)="createAppointment(service.id)"
                  class="btn btn-outline-primary me-2">Записаться
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
