<div class="container">
  <div class="row"></div>
  <div class="row my-3">
    <div class="row g-5">
      <div class="col-md-7 col-lg-8">

        <h4 *ngIf="typeService.id > 0" class="mb-3">Редактировать Тип услуги</h4>
        <h4 *ngIf="typeService.id <= 0" class="mb-3">Создать новый тип услуги</h4>
        <form class="needs-validation" novalidate="">
          <div class="row g-3">

            <div class="col-12">
              <label for="name" class="form-label">Названик</label>
              <input [(ngModel)]="typeService.name" name="name" type="text" class="form-control" id="name" placeholder="Name" required="">
              <div class="invalid-feedback">
                Please enter name.
              </div>
            </div>

            <div class="col-12">
              <label for="description" class="form-label">Описание</label>
              <input [(ngModel)]="typeService.description" name="description" type="text" class="form-control" id="description" placeholder="Описание" required="">
              <div class="invalid-feedback">
                Please enter your shipping address.
              </div>
            </div>
          </div>

          <hr class="my-4">

          <button (click)="save()" class="w-100 btn btn-primary btn-lg" type="submit">Сохранить</button>
          <button *ngIf="typeService.id > 0" (click)="delete()" class="w-100 btn btn-danger btn-lg mt-3" type="submit">Удалить</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row"></div>
</div>
