<div class="container">
  <div class="row mt-4 justify-content-between">
    <h2 class="h2">
      Список Приемов
    </h2>
    <button *ngIf="isAdmin()" onClick="window.location.href='/appointment'"
            class="btn btn-outline-primary me-2">
      Новая запись
    </button>
  </div>
  <div class="row mt-5">

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название услуги</th>
        <th scope="col">Клиент</th>
        <th *ngIf="isAdmin()" scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let appointment of appointments; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{appointment.service.name}}
        </td>
        <td>{{ appointment.client.fio}}</td>
        <td *ngIf="isAdmin()">
          <button (click)="editAppointment(appointment.id)"
                  class="btn btn-outline-primary me-2">Изменить
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
