<div class="container d-flex flex-column justify-content-center">
  <div class="list-links mx-auto mt-2">
    <div class="list-item">
      <a href="/type-services" class="nav-link">Типы услуг</a>
    </div>
    <div class="list-item">
      <a href="/services" class="nav-link">Услуги</a>
    </div>
    <div class="list-item">
      <a href="/employees" class="nav-link">Работники</a>
    </div>
    <div class="list-item">
      <a href="/appointments" class="nav-link">Записи</a>
    </div>
  </div>
</div>
