
<div class="container">
  <div class="row"></div>
  <div class="row my-3">
    <div class="row g-5">
      <div class="col-md-7 col-lg-8">
        <h4 *ngIf="appointment.id > 0" class="mb-3">Редактированте Записи</h4>
        <h4 *ngIf="appointment.id <= 0" class="mb-3">Создание Записи</h4>
        <form class="needs-validation" novalidate="">

          <div class="col-12">
            <label for="typeService" class="form-label">Услуга</label>
            <select name="typeService" [(ngModel)]="appointment.service.id" class="form-select custom-select" id="typeService" required="">
              <option class="form-control" disabled >Услуги</option>
              <option *ngFor="let service of services" class="form-control"
                      value="{{service.id}}">{{service.name}}</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>


          <div class="col-12">
            <label for="employee" class="form-label">Клиент</label>
            <select name="employee" [(ngModel)]="appointment.client.id" class="form-select custom-select" id="employee" required="">
              <option class="form-control" disabled >Клиент</option>
              <option *ngFor="let client of clients" class="form-control"
                      value="{{client.id}}">{{client.fio}}</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>

          <hr class="my-4">

          <button (click)="save()" class="w-100 btn btn-primary btn-lg" type="submit">Save</button>
          <button *ngIf="appointment.id > 0" (click)="delete()" class="w-100 btn btn-danger btn-lg mt-3" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row"></div>
</div>
