<div class="container">
  <div class="row mt-4 justify-content-between">
    <h2 class="h2">
      Список услуг
    </h2>
    <button *ngIf="isAdmin()" onClick="window.location.href='/type-service'"
            class="btn btn-outline-primary me-2">
      Новая услуга
    </button>
  </div>
  <div class="row mt-5">

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Описание</th>
        <th *ngIf="isAdmin()" scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let typeService of typeServices; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{typeService.name}}
        </td>
        <td>{{ typeService.description}}</td>
        <td *ngIf="isAdmin()">
          <button (click)="editTypeService(typeService.id)"
                  class="btn btn-outline-primary me-2">Изменить
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
