<div class="container">
  <div class="row mt-4 justify-content-between">
    <h2 class="h2">
      Персонал
    </h2>
    <button *ngIf="isAdmin()" onClick="window.location.href='/employee'"
            class="btn btn-outline-primary me-2">
      Добавить сотрудника
    </button>
  </div>
  <div class="row mt-5">

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ФИО</th>
        <th scope="col">Телефон</th>
        <th *ngIf="isAdmin()" scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{employee.fio}}
        </td>
        <td>{{ employee.phone}}</td>
        <td *ngIf="isAdmin()">
          <button (click)="editEmployee(employee.id)"
                  class="btn btn-outline-primary me-2">Изменить
          </button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
